# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vim swap file
.*.swp

# binaries
multiple_binaries/client/client
multiple_binaries/server/server

test.db
